.cuisine-dropdown {
    margin: 20px 0px 20px 0px;
}

.ingredient-container {
    padding: 20px;
}

.ingredient-input input{
    text-align: center;
}

.ingredientsList {
    margin-top: 20px;
}

.ingredient-cols {
    padding: 5px 15px 5px 0px;
}

.button-column {
    padding: 5px 16px 0px 16px
}

.input-alert-container {
    margin: 20px;
}