
.cuisine-dropdown {
    margin: 20px 0px 20px 0px;
}

.ingredient-input input{
    text-align: center;
}

.ingredientsList {
    margin-top: 20px;
}

.ingredient-cols {
    padding: 5px 15px 5px 0px;
}