.App {
  border: 1px solid whitesmoke;
  border-radius: 50px;
  margin: 1px;
}

.heading {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: whitesmoke;
}

.recipe-cols {
  min-height: 91vh !important;
}
